<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
</head>
<body>
    <div>
        
        <div id="registration-form">
            <h1 id="header">New Registration</h1>
            <form action="{{ url_for('register')}}" target="_blank" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label for="re_password">Re-enter Password:</label>
                    <input type="password" id="re_password" name="re_password" required placeholder="Re-enter your password">
                </div>
                <div class="form-group">
                    <label for="mobile_number">Mobile Number:</label>
                    <input type="text" id="mobile_number" name="mobile_number" required placeholder="Enter your mobile number">
                </div>
                <div class="form-group">
                    <label for="mail_id">Mail ID:</label>
                    <input type="email" id="mail_id" name="mail_id" required placeholder="Enter your email address">
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" id="state" name="state" placeholder="Enter your state">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" placeholder="Enter your city">
                </div>
                <div class="buttons">
                    <input type="reset" id="cancel" name="cancel" value="Cancel">
                    <input type="submit" id="submit" name="submit" value="Submit">

                </div>
            </form>
        </div>
    </div>
</body>
</html>
